{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}

<div class="jumbotron jumbotron-fluid mt-5" style="font-size: 19px; font-weight: bold; font-family: Georgia;">
  <div class="container">
  <div class ="card-body">

	<form action="{% url 'destination-update' destination_obj.id %}" method="POST" enctype="multipart/form-data">
	  {% csrf_token %}
	  {{form | crispy}}
	  <input type="submit" value="Update">
	</form>
  </div>
 </div>
</div>
{% endblock content %}